/* Css Reset to wipe out all the default elements in a browser */

    html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  box-sizing:border-box;
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
    /*border: 1px solid grey;*/


html{
    font-size: 62.5%;
}
body{
    line-height: 2;
    font-family: 'Roboto Mono', monospace;
    font-size: 1.5rem;
    text-align: center;
    max-width: 100%;

}
h1{
     font-family: 'Chelsea Market', cursive;
     font-size: 5rem;
     margin: 2%;
}

.logo{
    display:inline-block;
    
   
}
nav{
    display: block;
}

.nav-header{
    margin: 4%;

}
.nav-link1 {
    background-color: #FF764E;
    padding: 2% 2%;
    margin: 5%;
    border-radius: 25px;
    color: white;
    font-size: 1.5rem;
    text-decoration: none;

}
.nav-link2 {
    background-color: #5ED3EB;
    padding: 2% 2%;
    margin: 5%;
    border-radius: 25px;
    color: white;
    font-size: 1.5rem;
    text-decoration: none;
}
.nav-link3 {
    background-color: #FFCD69;
    padding: 2% 2%;
    margin: 5%;
    border-radius: 25px;
    color: white;
    font-size: 1.5rem;
    text-decoration: none;

}

.logo{
    display: inline-block;

}
.logo img{
    width:20%;
    float:left;
}

#image{
    
    border-radius: 50%;

}

.park-info{
    display: inline-block;

}

.info{
    display: block;
    font-size: 1.7rem;
    margin: 2%;
    max-width: 100%;
}

h2{
    display: inline-block;
    font-size: 1.7rem;
    margin: 1% auto;
}

#information .text{
    background-color:#DDB9A3;
    color: white;
    font-size: 1.8rem;
    max-width: 80%;
    margin: 3% auto;
    padding: 1%;
}
.text p{
    justify-content: center;
    margin: 2%;
    padding: 1%;
}

.blog .blog2{
    display: inline-block;
    font-size: 1rem;
    margin: 0 5%;
    padding: 2%;
    text-align: center;


}

section p{
    text-align: center;
    margin: 0 40%;
    padding: 3%;
}


.icon{
    max-width: 10%;
    margin: 0 3%;
    padding:2%;
}

.warning{
    font-weight: bold;
}


.footer{

    background-color: #F9E7DC;
    width: 100%;
   height: 10%;
   padding: 6%;
}

#image2{
    width: 100%;
    height: 25%;
}
















